#head-name {
  color: #000;
  font-size: 30px !important;
  font-family: Raleway;
  position: absolute;
  left: 150px;
  top: 37px;
}

#logo {
  position: absolute;
  top: 9px;
  width: 100px;
}
.vl {
  border-left: 2px solid #30343F;
  height: 85px;
  position: absolute;
  left: 132px;
  top: 16px;
}
#head-title {
  white-space: nowrap ;
  font-size: 40px;
  font-family: 'Open Sans Condensed';
  text-transform: uppercase ;
  color: #000;
}
.black-text{
  color: #000;
}
#background-top {
  background-color: #FFFFFF;
  padding: 15px 10px 50px 10px;
  margin-left: -30px;
  margin-right: -30px;
  margin-top: -10px;
}
.lined{
  position: relative;
  top: 15px;
  font-family: Raleway;
  text-transform: uppercase;
  font-weight: 900;
}
#made-with {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 10px;
  white-space: nowrap;
  text-align: center;
}
#details {
 top: 100px !important;
}
.main-text{
  font-family: Rubik;
  color: #000;
}
.other-text {
  font-family: 'open sans condenced';
}
#made-love {
  position: absolute !important;
  left: 188px !important;
  top: 300px;
  font-size: 30px;
}
